<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Bizimle İletişime Geçin
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Lokasyon
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Bizi Arayın +0312 365 2332
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                isteyersin@gmail.com
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        İste Yersin
                    </a>
                    <p>
                        Lezzet ve misafirperverlik bir araya geldiği İsteYersin. Biz, yemek tutkunlarını unutulmaz bir lezzet yolculuğuna çıkmaya davet ediyoruz. Kaliteli malzemelerin ustalıkla hazırlanıp sunulduğu mutfağımız, damak zevkinize hitap edecek özgün tatlar sunmaktadır.
                    </p>
                    <div class="footer_social">
                        <a href="www.facebook.com">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="www.twitter.com">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="www.linkedin.com">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="www.instagram.com">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Açılış Saatleri
                </h4>
                <p>
                    Hergün
                </p>
                <p>
                    10.00 - 22.00
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span>Tüm Hakları Saklıdır<br><br>
                &copy; <span id="displayYear"></span>
            </p>
        </div>
    </div>
</footer>